:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --pastel-green: #2D6A4F;
    
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --header-height: 60px;
    --containers-max-width: 1280px;
    --size-product-card: 200px;
}

html.light {
    --color-text: #213547;
    --color-background: #ffffff;
    --color-link: #646cff;
    --color-link-hover: #747bff;
    --color-button-bg: #f4f4f4;
}

html.dark {
    --color-text: rgba(255, 255, 255, 0.87);
    --color-background: #242424;
    --color-link: #646cff;
    --color-link-hover: #535bf2;
    --color-button-bg: #1a1a1a;
}


@media (max-width: 900px) {
    :root {
        --container-width: 640px;
        --size-product-card: 240px;
    }
}
@media (max-width: 640px) {
    :root {
        --container-width: 380px;
        --size-product-card: 140px;
    }
}
@media (max-width: 300px) {
    :root {
        --container-width: 280px;
    }
}