header {
  width: 100vw;
  background-color: var(--color-backgrpund);
}

.header {
  color: var(--color-text);
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  overflow: hidden;
  margin: 0 auto;
  max-width: var(--containers-max-width);
  padding: 0 100px 0 100px;

  h1 {
    margin: 0;
    justify-self: left;
  }

  .navbar {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;

    li {
      list-style: none;
      border-bottom: 1px solid transparent;
      padding: 10px 20px;
    }

    li:hover {
      border-color: var(--color-text);
    }

    a {
      text-decoration: none;
      color: var(--color-text);
    }
  }

  a.login-button {
    justify-self: right;
  }
}